<!doctype html>
<html lang="en" class="no-js">
  {% include "head.html" %}

  <body class="flex flex-col flow">
    {% include "nav.html" %}

    <main
      tabindex="-1"
      id="main-content"
      class="wrapper {% if page.url == '/' %} flex {% endif %}"
    >
      {{ content | safe }}
    </main>

    {% include "footer.html" %}

    <script>
      document.documentElement.classList.remove("no-js");
    </script>
    <script async defer>
      {% include "theme.js" %}
    </script>
    <script
      data-goatcounter="https://5qcs9vnu0w.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
    <noscript>
      <img src="https://5qcs9vnu0w.goatcounter.com/count?p={{ page.url }}" />
    </noscript>
  </body>
</html>
