<!DOCTYPE html>
<html lang="en" class="no-js">
{% include "head.html" %}

<body>
  <div class="cover">
    {% include "nav.html" %}

    <main tabindex="-1" id="main-content" class="wrapper">
      {{ content | safe }}
    </main>

    <footer class="center">
      <p class="text-center italic text-1">
        &copy; {% year %} {{ meta.siteName }}
      </p>
    </footer>
  </div>

  <script>
    document.documentElement.classList.remove("no-js");
  </script>
  <script>
    {% include "theme.js" %}
  </script>
</body>

</html>
