<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body>
  <div class="cover">
    {% include "nav.njk" %}

    <main tabindex="-1" id="main-content" class="wrapper">
      <article class="flow center">
        {{ content | safe }}
      </article>
    </main>

    <footer class="center">
      <p class="text-center">&copy; {% year %} {{ meta.siteName }}</p>
    </footer>
  </div>

</body>

</html>