{% set currentUrl %}{{ page.url }}{% endset %}

<div>
  <a class="skip-link" href="#main-content">Skip to content</a>
  <header role="banner">
    <div class="wrapper">
      <nav aria-label="primary" id="primary-navigation" tabindex="-1">
        <ul role="list" class="cluster">
          <li class="flex">
            <a {% if currentUrl==='/' %}aria-current="page" {% endif %} href="/">Home</a>
          </li>

          <span class="skip"></span>

          <div class="cluster">
            {% for page in collections.headerPages %}
            <li class="flex">
              <a {% if currentUrl===page.url %}aria-current="page" {% endif %} href="{{ page.url }}">
                {{ page.data.title }}
              </a>
            </li>
            {%- endfor %}
            <li class="flex">
              <div class="user-toggle inline-flex">
                <div role="status" class="visually-hidden"></div>
                <button aria-label="Toggle Theme">
                  <span class="icon" aria-hidden="true"></span>
                </button>
              </div>
            </li>
          </div>
        </ul>
      </nav>
    </div>
  </header>
</div>