---
layout: base.html
---

<article class="flow">
  <h1 id="{{ title | slugify }}" tabindex="-1">
    <a href="#{{ title | slugify }}" class="header-anchor"
      ><span>{{ title }}</span></a
    >
  </h1>
  {% if tags %}
    {% if (tags | select("equalto", "rant")) != "" %}
    <p data-nosnippet>
      <em>
      I am normally nuanced and full of empathy for differing perspectives; I try very hard to present things in a balanced way and to steer away from inflamatory nonsense that doesn’t actually result in making things better.
      </em>
      <em>
      However, this is a rant, because I am having feelings, and those feelings are going to be feel’d.
      </em>
    </p>
    <div class="py-2"><hr></div>
    {% endif %}

    {% if (tags | select("equalto", "note")) != "" %}
    <p data-nosnippet>
      <em>
      This is a note. Notes, for me, are something that didn't quite deserve as much length as a full blog post.
      </em>
      <em>
      Allowing myself to write notes helps me write things without committing to a long and lengthy exposition :)
      </em>
    </p>
    <div class="py-2"><hr></div>
    {% endif %}
  {% endif %}
  {{ content | safe }}
</article>
<meta property="og:type" content="article" data-helmet="og:type" />
