[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  border-width: 0;
  border-style: double;
  border-color: hsl(var(--color-bg));
  border-bottom-width: var(--space-0-5);
  border-bottom-color: hsl(var(--color-bg));
}

[role="tab"][aria-selected="true"] {
  border-bottom-color: hsl(var(--color-primary));
}
