---
layout: base.html
---

<article class="flow">
  <h1 id="{{ title | slugify }}" tabindex="-1">
    <a href="#{{ title | slugify }}" class="header-anchor"
      ><span>{{ title }}</span></a
    >
  </h1>
  <p class="cluster no-gutter">
    <a href="{{ event_site }}">{{ event }}</a> <span class="skip"></span>
    <span>{{ location }}</span> <span class="skip"></span>
    <time class="italic" datetime="{{ date.toISOString() }}"
      >{{ date | postDate }}</time
    >
  </p>
  {{ abstract | parseAsMarkdown | safe }} {% if slides or video or talk_page %}
  <div class="py-3">
    <hr />
  </div>
  {% endif %} {% if video %}
  <p>{{video}}</p>
  {% endif %} {% if slides or talk_page %}
  <ul class="cluster" style="list-style: none; padding-left: initial">
    {% if slides %}
    <li><a href="{{ slides }}">View the slides</a></li>
    {% endif %}{% if talk_page %}
    <li><a href="{{ talk_page }}">Visit the program page</a></li>
    {% endif %}
  </ul>
  {% endif %}
</article>
<meta property="og:type" content="article" data-helmet="og:type" />
