:root {
  --slidev-theme-primary: #5d8392;

  p:not([class]),
  li:not([class]) {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.slidev-layout {
  h1 {
    color: var(--slidev-theme-primary);
  }
}

.slidev-layout.default {
  h1 {
    @apply text-6xl;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    color: inherit;
    @apply text-8xl leading-25;
  }
}

.slidev-layout.fact {
  @apply text-center grid h-full;

  h1 {
    @apply text-8xl font-700;
  }

  h1+p {
    @apply font-400 text-4xl;
  }
}

.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-9xl font-400;
  }

  h1+*:not([class]) {
    @apply font-400 text-7xl;
  }
}

.slidev-layout.quote {
  @apply grid h-full;

  h1 {
    position: relative;
    font-weight: bold;
    @apply px-10 text-6xl;
  }

  h1:after,
  h1:before {
    font-weight: normal;
    opacity: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 6em;
    line-height: 1;
  }

  h1:after {
    content: "”";
    top: 0.75ch;
    left: 75%;
  }

  h1:before {
    content: "“";
    top: -0.5ch;
  }
}

.slidev-layout.section {
  background-color: hsl(var(--color-fg));

  h1 {
    @apply text-9xl;
    color: hsl(var(--color-bg));
  }
}

/* \32 x2 is written in css as .2x2 */

.\32 x2 {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  padding: 0;
  width: 100%;
  height: 100%;
}

table.\32 x2 tbody,
.\32 x2 tr,
.\32 x2 thead {
  display: contents;
}

.\32 x2 td {
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-color: hsl(var(--color-secondary));
  border-style: solid;
  border-width: 3px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.my-auto:has(.\32 x2) {
  height: 100%;
}

.slidev-layout .slidev-vclick-target p:not([class]),
.slidev-layout .slidev-vclick-target li:not([class]) {
  @apply text-4xl;
}

.slidev-layout .my-auto:has(.slidev-vclick-target) {
  height: 100%;
}

.slidev-layout .slidev-vclick-target {
  width: 100%;
}
