:root {
  --slidev-theme-primary: #5d8392;

  p,
  li {
    @apply text-2xl;
  }
}

.slidev-layout {
  h1 {
    color: var(--slidev-theme-primary);
  }
}

.slidev-layout.default {
  h1 {
    @apply text-6xl;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    color: inherit;
    @apply text-8xl leading-25;
  }
}

.slidev-layout.fact {
  @apply text-center grid h-full;

  h1 {
    @apply text-8xl font-700;
  }

  h1+p {
    @apply font-400 text-4xl;
  }
}

.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-8xl font-700;
  }
}

.slidev-layout.quote {
  @apply grid h-full;

  h1 {
    position: relative;
    font-weight: bold;
    @apply px-10 text-6xl;
  }

  h1:after,
  h1:before {
    font-weight: normal;
    opacity: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 6em;
    line-height: 1;
  }

  h1:after {
    content: "”";
    top: 0.75ch;
    left: 75%;
  }

  h1:before {
    content: "“";
    top: -0.5ch;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-8xl font-400 leading-20;
  }
}
