---
title: Résumé
order: 3
description: Experienced engineer specialized in feedback loops, developer experience, reliability, and build systems, with a focus on blending theory with pragmatism and embracing empathy.
---

{{ "html" | generateResume | safe }}

<style data-helmet="resume">
  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: var(--space-0-5) var(--space-3);
    align-items: center;
  }

  dd > * + *,
  article ul > * + * {
    margin-top: var(--flow-space, var(--space-2));
  }

  dt {
    font-size: calc(var(--size-3) * 0.80);
    justify-self: self-end;
    align-self: start;
    font-variant: small-caps;
  }

</style>
