---
title: Résumé
order: 3
---

{{ "html" | generateResume | safe }}

<style data-helmet="resume">
  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: var(--space-0) var(--space-3);
    align-items: center;
  }

  dt {
    font-size: calc(var(--size-3) * 0.80);
    justify-self: self-end;
    align-self: start;
    font-variant: small-caps;
  }
</style>
