:root {
  color-scheme: light dark;
  scrollbar-gutter: stable both-edges;
  overflow-wrap: break-word;
}

/* copied from index.css */
:root {
  --hue-primary: 340;
  --hue-secondary: 227;
  --color-primary: var(--hue-primary) 35% 66%;
  --color-secondary: var(--hue-secondary) 35% 66%;
  --color-light: var(--hue-primary) 35% 93%;
  --color-dark: var(--hue-primary) 35% 13%;
  --color-fg: var(--color-dark);
  --color-bg: var(--color-light);
}
html.dark {
  --color-primary: var(--hue-primary) 35% 66%;
  --color-secondary: var(--hue-secondary) 35% 66%;
  --color-light: var(--hue-primary) 35% 87%;
  --color-dark: var(--hue-primary) 35% 13%;
  --color-fg: var(--color-light);
  --color-bg: var(--color-dark);
}

body {
  background-color: theme("backgroundColor.bg");
  color: theme("textColor.fg");
  font-size: theme("fontSize.2");
  font-family: theme("fontFamily.body");
  line-height: 1.75;
}

button {
  color: inherit;
}

hr {
  max-width: 65ch;
  margin-left: 0;
}

main {
  flex: auto;
}

code,
pre {
  font-family: theme("fontFamily.mono");
  font-variant-ligatures: contextual;
  max-width: max-content;
  font-size: 0.9em;
}

.bordered-box,
pre {
  line-height: theme("lineHeight.tight");
  border: theme("borderSpacing.0-5") solid theme("borderColor.secondary");
  padding: theme("margin.0-5");
  box-shadow: theme("margin.0-5") theme("margin.0-5") 0 0
    theme("borderColor.primary");
  overflow-x: auto;
}

code {
  white-space: pre;
  position: relative;
}

h1,
h2,
h3,
h4 {
  line-height: theme("lineHeight.tight");
  font-family: theme("fontFamily.heading");
  font-weight: normal;
}

h1 {
  font-size: theme("fontSize.6");
  font-family: theme("fontFamily.display");
}

h2 {
  font-size: theme("fontSize.5");
  font-family: theme("fontFamily.display");
}

h3 {
  font-size: theme("fontSize.4");
}

h4 {
  font-size: theme("fontSize.3");
}

p,
li {
  max-width: theme("maxWidth.prose");
}

h1 {
  max-width: calc(theme("maxWidth.prose") / 4);
}

h2,
h3,
h4 {
  max-width: calc(theme("maxWidth.prose") / 2);
}

a {
  color: theme("textColor.currentColor");
  text-decoration-color: theme("textColor.currentColor");
}

a:hover:not(.header-anchor) {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

:focus {
  outline: theme("spacing.px") dotted;
  outline-offset: calc(theme("spacing.0-5") / 2);
}

main:focus {
  outline: 0;
}

h2,
h3,
h4 {
  --flow-space: var(--space-4);
}

h2 + *,
h3 + *,
h4 + * {
  --flow-space: var(--space-base);
}

[id] {
  scroll-margin-top: 1.5ex;
}

nav > ul {
  padding: theme("spacing.0");
}

.header-anchor:is(:hover, :focus, :active)::after {
  content: "#";
  padding-left: 0.25em;
  position: absolute;
}

.header-anchor:not(:hover, :focus, :active) {
  text-decoration: none;
}

::selection {
  background-color: theme("colors.secondary" / 50%);
}

::marker {
  color: theme("colors.primary");
}

blockquote {
  background-color: theme("backgroundColor.bg");
  border-left: theme("borderSpacing.1") solid theme("colors.secondary");
  margin: theme("margin.2") calc(-1 * theme("margin.2"));
  padding: theme("padding.1") theme("padding.2");
}

.eleventy-plugin-youtube-embed > * {
  max-width: unset;
}
