body {
  @apply bg-light text-dark text-size-1 font-sans leading-normal;
}

h1,
h2,
h3 {
  @apply leading-tight font-black;
}

h1 {
  @apply text-size-4;
}

h2 {
  @apply text-size-3;
}

h3 {
  @apply text-size-2;
}

p,
li {
  @apply max-w-prose;
}

h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 30ch;
}

a {
  color: currentcolor;
  text-decoration-color: var(--color-primary);
}

a:hover:not(.header-anchor) {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

:focus {
  outline: 2px dotted;
  outline-offset: 0.25rem;
}

/* Prose */
h2,
h3 {
  --flow-space: var(--space-size-3);
}

h2 + *,
h3 + * {
  --flow-space: var(--space-base);
}

/* So text scale renders nicely */
div[class*="text-"] {
  --flow-space: 1rem;
  @apply leading-none font-bold;
}

nav > ul {
  padding: 0;
}

.header-anchor:is(:hover, :focus, :active)::after {
  content: "#";
  font-size: 0.75em;
  padding-left: 0.5em;
}
.header-anchor:not(:hover, :focus, :active) {
  text-decoration: none;
}
