body {
  background-color: theme("backgroundColor.light");
  color: theme("textColor.dark");
  font-size: theme("fontSize.1");
  font-family: theme("fontFamily.sans");
  line-height: theme("lineHeight.normal");
}

h1,
h2,
h3 {
  line-height: theme("lineHeight.tight");
  font-weight: theme("fontWeight.black");
}

h1 {
  font-size: theme("fontSize.5");
}

h2 {
  font-size: theme("fontSize.4");
}

h3 {
  font-size: theme("fontSize.3");
}

p,
li {
  max-width: theme("maxWidth.prose");
}

h1 {
  max-width: calc(theme("maxWidth.prose") / 4);
}

h2,
h3 {
  max-width: calc(theme("maxWidth.prose") / 2);
}

a {
  color: theme("textColor.currentColor");
  text-decoration-color: var(--color-primary);
}

a:hover:not(.header-anchor) {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

:focus {
  outline: theme("spacing.px") dotted;
  outline-offset: theme("spacing.0");
}

/* Prose */
h2,
h3 {
  --flow-space: var(--space-3);
}

h2 + *,
h3 + * {
  --flow-space: var(--space-base);
}

/* So text scale renders nicely */
div[class*="text-"] {
  --flow-space: var(--space-base);
  line-height: theme("lineHeight.none");
  font-weight: theme("fontWeight.bold");
}

nav > ul {
  padding: theme("spacing.0");
}

.header-anchor:is(:hover, :focus, :active)::after {
  content: "#";
  font-size: 0.75em;
  padding-left: 0.5em;
}
.header-anchor:not(:hover, :focus, :active) {
  text-decoration: none;
}
