@import "custom-props.css";
@import "modern-css-reset";
@import "fonts.css";

@import "global.css";

/* Compositions */
@import-glob 'compositions/*.css';

/* Blocks */
@import-glob 'blocks/*.css';

/* Utilities */
@import-glob 'utilities/*.css';

/* Exceptions */
@import-glob 'exceptions/*.css';

/* Tailwind utilities */
@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --hue-primary: 227;
    --hue-secondary: 340;
    --color-primary: var(--hue-primary) 35% 66%;
    --color-secondary: var(--hue-secondary) 35% 66%;
    --color-bg: var(--hue-primary) 35% 98%;
    --color-fg: var(--hue-primary) 35% 10%;
    --color-fg: var(--color-dark);
    --color-bg: var(--color-light);
  }
  html.dark {
    --hue-primary: 227;
    --hue-secondary: 340;
    --color-primary: var(--hue-primary) 35% 66%;
    --color-secondary: var(--hue-secondary) 35% 66%;
    --color-light: var(--hue-primary) 35% 98%;
    --color-dark: var(--hue-primary) 35% 10%;
    --color-fg: var(--color-light);
    --color-bg: var(--color-dark);
  }
}
