---
title: "Hazel Weakly"
summary: "A feed of the latest blog posts"
permalink: "/feed.json"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ title }}",
  "home_page_url": "{{ meta.url }}",
  "feed_url": "{{ meta.url }}{{ permalink }}",
  "description": "{{ summary }}",
  "author": {
    "name": "{{ meta.authorName }}",
    "url": "{{ meta.url }}/about"
  },
  "items": [
    {%- for post in collections.blog | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
