---
permalink: /manifest.json
---
{
  "name": "{{ meta.siteName }}",
  "lang": "en-US",
  "start-url": "{{ meta.url }}",
  "theme_color": "#2d161d",
  "background_color": "#2d161d",
  "description": "{{ meta.siteDescription }}",
  "display": "minimal-ui",
  "icons": [
    { "src": "/android-chrome-512x512.png", "purpose": "any maskable", "type": "image/png", "sizes": "512x512" },
    { "src": "/android-chrome-192x192.png", "purpose": "any maskable", "type": "image/png", "sizes": "192x192" },
    { "src": "/favicon-32x32.png", "purpose": "any maskable", "type": "image/png", "sizes": "32x32" },
    { "src": "/favicon-16x16.png", "purpose": "any maskable", "type": "image/png", "sizes": "16x16" }
  ]
}
