---
title: "Styleguide"
layout: base
permalink: /styleguide.html
---

<article>
  <h1>Style Guide</h1>
  <p>
    This styleguide was shamelessly lifted from
    <a href="https://piccalil.li/">Andy Bell</a>, who is awesome and very cool.
  </p>
  <section>
    <h2>Colors</h2>
    <p class="visually-hidden">
      Color swatches with various values that you can copy.
    </p>
    <ul class="swatches">
      <!-- text-inherit text-current text-transparent text-primary text-secondary text-bg text-fg -->
      {% for color in styleguide.colors() %}
      <li class="flow">
        <h3>{{ color.key }}</h3>
        <dl class="props">
          <dt>
            <span class="text-{{ color.key }} {{ 'bg-bg' if color.key != 'bg' else 'bg-fg'  }}">Value</span>
          </dt>
          <dd><code>{{ color.value }}</code></dd>
          <dt>Theme function</dt>
          <dd><code>theme('colors.{{ color.key }}')</code></dd>
          <dt>Custom Property</dt>
          <dd><code>var(--color-{{ color.key }})</code></dd>
          <dt>Text util class</dt>
          <dd><code>color-{{ color.key }}</code></dd>
          <dt>Background util class</dt>
          <dd><code>bg-{{ color.key }}</code></dd>
        </dl>
      </li>
      {% endfor %}
    </ul>
    <h2>Fonts</h2>
    <!-- font-display font-heading font-body font-mono -->
    <h3>Display</h3>
    <p class="flow">
      <span aria-hidden="true" role="presentation" class="font-display leading-tight">The quick brown fox jumps over the
        lazy fox</span>
      <code>.font-display</code>
    </p>
    <h3>Heading</h3>
    <p class="flow">
      <span aria-hidden="true" role="presentation" class="font-heading leading-tight">The quick brown fox jumps over the
        lazy fox</span>
      <code>.font-heading</code>
    </p>
    <h3>Body</h3>
    <p class="flow">
      <span aria-hidden="true" role="presentation" class="font-body leading-tight">The quick brown fox jumps over the
        lazy fox</span>
      <code>.font-body</code>
    </p>
    <h2>Text sizes</h2>
    <!-- tricking tailwind into generating classes -->
    <!-- text-0 text-1 text-2 text-3 text-4 text-5 text-6 text-7 text-8 text-px text-DEFAULT text-0-5 -->
    {% for size in styleguide.sizes() %}
    <p class="text-{{ size.key }}" style="--flow-space: 1.5rem">
      {{ size.value }} - <code>text-{{ size.key }}</code>
    </p>
    {% endfor %}
    <h2>Spacing</h2>
    <p>
      There’s size ratio utilities that give you margin (<code>gap-top, gap-bottom</code>) and padding (<code>pad-top,
        pad-left, pad-bottom</code>).
    </p>
    <h3>Margin</h3>
    <p class="visually-hidden">Margin token classes that you can copy</p>
    <div>
      {% for size in styleguide.sizes() %}
      <div>
        <code>gap-top-{{ size.key }}</code>
      </div>
      {% endfor %}
    </div>
    <h3>Padding</h3>
    <p class="visually-hidden">Padding token classes that you can copy</p>
    {% for size in styleguide.sizes() %}
    <div>
      <code>pad-top-{{ size.key }}</code>
    </div>
    <div>
      <code>pad-bottom-{{ size.key }}</code>
    </div>
    <div>
      <code>pad-left-{{ size.key }}</code>
    </div>
    {% endfor %}
  </section>
</article>
<style data-helmet="styleguide">
  body {
    overflow-x: hidden;
  }

  .swatches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    grid-gap: 3rem 2.5rem;
    margin-left: 0;
    list-style: none;
  }

  .swatches>* {
    margin-top: 0 !important;
  }

  .props dt>span {
    font-weight: 700;
    padding: 0.25rem;
  }

  .props dd+dt {
    margin-top: 0.5rem;
    display: block;
  }

  .color {
    border: 1px solid hsl(var(--color-secondary));
  }

  .bg-fg code {
    color: hsl(var(--color-fg));
  }

  span.text-transparent {
    -webkit-text-stroke: hsl(var(--color-fg)) thin;
  }
</style>
