name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v20
        with:
          source-url: "${{ format('https://install.lix.systems/lix/lix-installer-{0}', 'x86_64-linux') }}"
          diagnostic-endpoint: ""
          backtrace: "true"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix develop -c bash -c "echo \$PATH" | tr ':' '\n' | grep '^/nix/store' >> "$GITHUB_PATH"
      - name: Cache pnpm store
        uses: actions/setup-node@v4
        with:
          cache: pnpm

      - run: nix develop -c pnpm install --frozen-lockfile
      - run: nix develop -c pnpm build
        env:
          URL: https://hazelweakly.me
          ELEVENTY_ENV: prod
      - run: |
          cmd=''
          if ${{ github.event_name == 'push' }}; then
            cmd='--prod'
          fi
          nix develop -c netlify deploy --cwd . --filter "hazelweakly.me" --dir=public $cmd
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
